body
{
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    font-family: Arial;
    font-weight: 525;
    font-size: 2vh;
}

h1
{
    border: 0.75vh solid rgb(52, 52, 52);;
    background-color: rgb(40, 40, 40);
    position: fixed; 
    top: 0; 
    left: 0; 
    right:0; 
    margin-top: 0;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}
h1, h2 
{
    color: aliceblue;
    text-align: center;
}

li a
{
    
    color: aliceblue;
}

li
{
    color: aliceblue;
    margin-top: 2%;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: solid; text-decoration-thickness: 15%; }
a:active { text-decoration: none; }

a:hover{ text-decoration: solid;}

.pagediv
{
    word-wrap: break-word;
}

nav
{
    height: 7.5%;
    margin: auto;
    text-align: center;
}


img
{
    scroll-margin-top: 25rem;
    width: 80%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border:  solid rgba(140, 140, 140, .8);
}

p
{
    margin: auto;
    width: 95%;
}

hr
{
    border-top: 1px solid rgb(70, 70, 70);
    margin-top: 5%;
    width: 90%;
}
li a
{
    color: rgb(82, 168, 253);
}

.stepmp
{
    margin-bottom: 1.5%;
    font-size: 150%;
    font-weight: bold;
}

.contentDiv
{
    border: 0.3vw solid rgb(50, 50, 50);
}

.tableofcontent
{
    padding-right: 3%;
    padding-top: 4%;
    width: 25%;
    position: fixed;
}
.tableofcontent h2
{
    text-align: left;
    padding-left:1vw;
}


div.guideDiv
{
    float: right;
    width: 70%;
    padding-top: 4%;
    border-left: 0.3vw solid rgb(50, 50, 50);
    border-right: 0.3vw solid rgb(50, 50, 50);
    text-align: center;
}

div.guideDiv div
{
    scroll-margin-top: 7.5rem;
    margin-top: 3%;
}

 table
{
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-collapse: collapse;
    border: solid rgba(140, 140, 140, .8);
}
td, th
{
    border-collapse: collapse;
    border: solid rgba(140, 140, 140, .8);
}

.tableH1
{
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    width: 12.5vw;
}
.tableH2
{
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    width: 10vw;
}
.tableH3
{
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    width: 7.5vw;
}
td
{
    padding-top: 0.27vw;
    padding-bottom: 0.27vw;
}


p
{
    color: aliceblue;
    text-align: center;
}



.function
{
    color: rgb(78, 142, 183);
}
.getFunction
{
    color: rgb(120, 162, 113)
}
.fname
{
    color: rgb(169, 108, 210);
}
.string
{
    color: rgba(225, 3, 245, 0.8);
}
.object
{
    color: rgba(0, 212, 254, 0.8);
}
.data
{
    color: rgb(108, 108, 254);
}
.event
{
    color: rgba(255, 42, 0, .8);
}
.delegate
{
    color: rgba(255, 56, 56, .8)
}
.true
{
    color: lawngreen;
}
.false
{
    color: rgb(228, 30, 30);
}